.home-categories {
  margin-bottom: 40px;

  .container {
    max-width: calc(1110px + 40px);
    margin-inline: auto;
    display: flex;
  }
&__list {
    display: flex;
    gap: 30px;
}
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    flex-shrink: 0;
    padding: 0 68px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f3f4ff;
    cursor: pointer;
  }
  .item1 {
    background: #f3f4ff;
  }
  &__img {
    padding-top: 14px;
  }
  &__title {
    padding: 12px;
  }
}
