<div class="home-categories">
    <div class="container">
        <div class="home-categories__list">
            <div class="home-categories__item item1">
                <div class="home-categories__img">
                    <img src="assets/categories/pizza1.svg" alt="Pizza">
                </div>
                    <div class="home-categories__title">Pizza</div>
            </div>
            <div class="home-categories__item item1">
                <div class="home-categories__img">
                    <img src="assets/categories/pizza2.svg" alt="Burger">
                </div>
                    <div class="home-categories__title">Burger</div>
            </div>
            <div class="home-categories__item">
                <div class="home-categories__img">
                    <img src="assets/categories/meat3.svg" alt="BBQ">
                </div>
                    <div class="home-categories__title">BBQ</div>
            </div>
            <div class="home-categories__item item1">
                <div class="home-categories__img">
                    <img src="assets/categories/sushi4.svg" alt="Sushi">
                </div>
                    <div class="home-categories__title">Sushi</div>
            </div>
            <div class="home-categories__item">
                <div class="home-categories__img">
                    <img src="assets/categories/broccoli5.svg" alt="Vegan">
                </div>
                    <div class="home-categories__title">Vegan</div>
            </div>
            <div class="home-categories__item">
                <div class="home-categories__img">
                    <img src="assets/categories/cake6.svg" alt="Desserts">
                </div>
                    <div class="home-categories__title">Desserts</div>
            </div>
        </div>
    </div>
</div>
