<div class="restaurants">
    <div class="container">
        <div class="restaurants__title">Nearby restaurants</div>
        <div class="restaurants__list">
            <div class="restaurants-item" *ngFor="let item of restaraunts">
                <div class="restaurants-item__img">
                    <img [src]="item.img" [alt]="item.name">
                </div>
                <div class="restaurants-item__name">{{item.name}}</div>
                <div class="restaurants-item__time tim">{{item.time}}</div>
                <div class="restaurants-item__price tim">{{item.price}}</div>
                <div class="restaurants-item__tags">
                    <div class="restaurants-item__sush tim" *ngFor="let sushi of item.tags">
                        <img [src]="sushi.sushi" [alt]="sushi.info"> {{sushi.info}}
                    </div>
                </div>
                <div class="restaurants-item__cart">
                    <img [src]="item.cartImg" alt="item.cart">
                </div>
            </div>
        </div>
    </div>

</div>