.home-adv {
  margin-bottom: 32px;
  .container {
    max-width: calc(1110px + 40px);
    margin-inline: auto;
    display: flex;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 24px;
    cursor: pointer;
  }

  &__item {
    max-width: 540px;
    flex-shrink: 0;
    border-radius: 16px;
    display: flex;
    gap: 45px;
  }
  .background1 {
    background: #f3f4ff;
  }
  .background2 {
    background: #fff3ed;
  }
  &__desc {
    padding: 24px 30px 0 0;
  }
  &__title {
    max-width: 210px;

    margin-bottom: 8px;
    color: #2b2b43;

    /* H5 - semibold 20 (28, 0.1px) */
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.1px;
  }
  &__text {
    color: #4e60ff;

    /* H2 - extrabold 40 (56, 0.1px) */
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0.1px;
    margin-bottom: 36px;
  }

  &__info {
    color: #83859c;

    /* Body 1 - regular 14 (20, 0.1px) */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
}
