<div class="home-adv">
    <div class="container">
        <div class="home-adv__list">
            <div class="home-adv__item background1">
                <div class="home-adv__img">
                    <img src="assets/advertising/img1.png" alt="All deserts">
                </div>
                <div class="home-adv__desc">
                    <div class="home-adv__title">All deserts</div>
                    <div class="home-adv__text">20% OFF</div>
                    <div class="home-adv__info">Deserty</div>
                </div>
            </div>
            <div class="home-adv__item background2">
                <div class="home-adv__img">
                    <img src="assets/advertising/img2.png" alt="Big Burgers">
                </div>
                <div class="home-adv__desc">
                    <div class="home-adv__title">Big Burgers</div>
                    <div class="home-adv__text">50% OFF</div>
                    <div class="home-adv__info">Fooddies</div>
                </div>
            </div>
        </div>
    </div>
</div>